body{
  text-align: center;
  
}

/*
Test 1
*/
.container>p:nth-child(3){
  color: red;
  background-color: black;
}
/*
Test 1
*/


/*
Test 2
*/

.test2>p{
  margin: 0 auto;
  font-size: 18px;
}

/*
Test 2
*/